apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: dev
spec:
  replicas: 4 
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
          volumeMounts:
            - name: webapp-html
              mountPath: /usr/share/nginx/html
      volumes:
       - name: webapp-html
         persistentVolumeClaim:
           claimName: webappdev-pvc 
