apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  labels:
   run: nginx
spec:
  type: NodePort
  ports:
  - port: 80
    targetport: 80
    protocol: TCP
    nodeport: 8080
    name: http
  selector:
    app: nginx 
